<div class="dashboard-layout">
  <!-- <app-sidebar></app-sidebar> -->

  <div class="dashboard-layout__main">
    <h2 class="dashboard-layout__welcome">Hey! {{ name || 'User' }}</h2>

    <div class="dashboard-layout__actions">
      @if (permissions?.canAddRole) {
        <button class="dashboard-layout__btn dashboard-layout__btn--blue" (click)="addRole()">
          Add Role
        </button>
      }

      @if (permissions?.canAddUser) {
        <button class="dashboard-layout__btn dashboard-layout__btn--green"  (click)="addUser()">
          Add User
        </button>
      }

      @if (permissions?.canAddTimeSheet) {
        <button class="dashboard-layout__btn dashboard-layout__btn--cyan"  (click)="openTimesheet()">
          Timesheet
        </button>
      }
    </div>

    <div class="dashboard-layout__content">
      <app-user-list></app-user-list>
    </div>
  </div>
</div>